/*header settings*/
.adjust-top {
    margin-top: 60px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    /* Set the fixed height */
    height: 60px;
    background-color: #f5f5f5;
    border-color: #e7e7e7;
    color: #777;
    padding: 10px 20px 10px 6%;
}

.header .title-size {
    font-size: 22px;
}

.button-align {
    margin-left: 30px;
    margin-top: 20px;
}

/*tooltip demo*/
.description-panel {
    display: block;
    margin: 30px;
    padding: 15px;
    width: 450px;
    height: 180px;
    border: 1px solid gray;
    border-radius: 5px;
}

.tooltip-host {
    display: inline-block;
    margin: 40px 20px;
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    border-width: 2px;
    border-color: darkred;
}

/*ngex-tooltip styles*/
.ngex-tooltip {
    position: absolute; 
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #007dc6;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
}

.ngex-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
}

.ngex-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: #007dc6 transparent transparent transparent;
}

.ngex-tooltip-top-end:after {
    top: 100%;    
    left: 92%;
    border-width: 5px;
    border-color: #007dc6 transparent transparent transparent;
}

.ngex-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent #007dc6 transparent;
}

.ngex-tooltip-bottom-end:after {
    bottom: 100%;
    left: 92%;
    border-width: 5px;
    border-color: transparent transparent #007dc6 transparent;
}

.ngex-tooltip-show {
    opacity: 1;
}
