<div style="width: 800px;">
    <div *ngIf="showHeader" class="header">
        <span class="title-size">Angular Tooltip Demo</span>
    </div>
    <div [class.adjust-top]="showHeader">
        <div style="display:flex">
            <button type="button" class="btn btn-success button-align" (click)="toggleHeader()">&#160;{{buttonLabel}}&#160;</button>
            <div *ngIf="showHeader" class="radio-button-panel">
                <input type="radio" name="toggleHeaderOffset" class="button-align" value="1"
                       [ngModel]="headerOffsetStatus" (change)="headerOffsetChanged('1')">
                <span class="radio-label">No Header Offset</span>
                <input type="radio" name="toggleHeaderOffset" class="button-align" value="2"
                       [ngModel]="headerOffsetStatus" (change)="headerOffsetChanged('2')">
                <span class="radio-label">Add header Offset</span>
            </div>
        </div>
        <div class="description-panel">
            <h5>Instruction 1 </h5>
            <p>
                For the page with a sticky header, when there is not enough space between the header bottom edge and
                host element, the tooltip can be auto switched to the area below the host element if the <b>autoBottomOffset</b>
                attribute value is set to the height of the header, or overlaid on the header
                if no <b>autoBottomOffset</b> value is set.
            </p>
        </div>
        <div style="display:flex">
            <div class="description-panel">
                <h5>Instruction 2 </h5>
                <p>
                    Vertically scroll the window to have the tooltip host element close or away from screen top. Then hover on the host element to see the tooltip.
                </p>
            </div>
            <div class="tooltip-host" ngexTooltip="The position of this tooltip can auto be adjusted."
                 [autoBottomOffset]="headerOffsetValue" arrowPosition="left">                    
                Tooltip Host Element
            </div>
        </div>
        <div class="description-panel">            
            <h5>Instruction 3 </h5>
            <p>
                Drag to reduce the window width to have the host element partially out of the window. Then hover on the host element to see the tooltip.
            </p>
            <p>
                This can also be conducted both close and away from the screen top.
            </p>            
        </div>
    </div>
</div>



